{% extends 'base.html.twig' %}

{% block homePage %}

    <div class="main-page">
        <div class="main-page-infos">
            <h1>My awesome project</h1>
        </div>
    </div>
{% endblock %}
